---

---

<div>
  <slot />
</div>

<style>
  div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (min-width: 1024px) {
    div {
      width: 1024px;
      margin: auto;
      margin-top: 0;
      margin-bottom: 0;
      background-color: aliceblue;
    }
  }
</style>
